[user]
	email = josh@klar.sh
	name = Josh Klar
	signingkey = josh@klar.sh
[commit]
	gpgsign = true
[alias]
	# I constantly type "checkout" as "cechkout" or something otherwise
	# ridiculous and have to fix it with https://github.com/nvbn/thefuck, so
	# let's just make an easier alias
	co = checkout

	# These yanked straight outta https://hackernoon.com/lesser-known-git-commands-151a1918a60#.47hyswh0f
	please = push --force-with-lease
	shorty = status --short --branch

	# http://gitready.com/intermediate/2009/02/18/temporarily-ignoring-files.html#comment-247215295
	ignore = !git update-index --assume-unchanged
	unignore = !git update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep ^[a-z]

	# https://bluz71.github.io/2018/11/26/fuzzy-finding-in-bash-with-fzf.html
	ll = log --graph --format=\"%C(yellow)%h%C(red)%d%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(blue)<%an>%C(reset)\"

	# from a coworker at TWG
	jiggle-ci = commit --allow-empty -m 'forcibly update anything that runs on post-commit hooks'

	# And now either my own stuff, or stuff I adopted from sources I've long since forgotten
	lol = log --format='%Cred%h%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset%C(yellow)%d%Creset' --no-merges
	# "cram" a file into the last commit. This is my "oh shit, forgot a migration" button
	cram = commit --amend --no-edit
[fetch]
	prune = true
[rerere]
	enabled = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = current
[gpg]
	program = /home/j/bin/gpg
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[init]
	defaultBranch = main
