[user]
	email = j@iv597.com
	name = Josh Klar
	signingkey = j@iv597.com
[commit]
	gpgsign = true
[alias]
	# These yanked straight outta https://hackernoon.com/lesser-known-git-commands-151a1918a60#.47hyswh0f
	please = push --force-with-lease
	shorty = status --short --branch
[fetch]
	prune = true
