.config/gtk-3.0/bookmarks
.config/gtk-2.0/gtkfilechooser.ini
.config/nvim/.netrwhist
etc/sv/j/supervise
.config/sv/**/supervise
.config/systemd/**/*.wants
.config/systemd/user/pulseaudio.socket
.gnupg/
.config/wpg/wallpapers
.config/wpg/samples
