/* stolen from https://www.reddit.com/r/unixporn/comments/ch3e7b/aqua_vilebloom/
 * background modified to "feel" more right? #152733 -> #0e1921
 */

@define-color foreground #ded8d7;
@define-color background #152733;
@define-color cursor #ded8d7;

@define-color color0 #24455b;
@define-color color1 #ff777a;
@define-color color2 #d97a9b;
@define-color color3 #ffba95;
@define-color color4 #4684ae;
@define-color color5 #325f7d;
@define-color color6 #c7bcba;
@define-color color7 #dfd9d8;
@define-color color8 #24455b;
@define-color color9 #ff777a;
@define-color color10 #d97a9b;
@define-color color11 #ffba95;
@define-color color12 #4584ae;
@define-color color13 #325f7d;
@define-color color14 #c7bcba;
@define-color color15 #ded8d7;

* {
    border: none;
    border-radius: 0;
    font-family: "Manrope", "Ubuntu Condensed", Roboto, Helvetica, Arial, sans-serif;
    font-size: 11pt;
    min-height: 22pt;
    padding-left: 4pt;
    padding-right: 6pt;
}

window#waybar {
    background: transparent;
    color: @foreground;
}

#workspaces button {
    padding: 0;
    background: transparent;
    color: @foreground;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: transparent;
    border-bottom: 3px solid @color15;
}

#mode {
    background: transparent;
    border-bottom: 3px solid @color15;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode, #custom-temp, #custom-root, #custom-home, #custom-backup, #custom-scratch, #custom-main {
    padding: 0 6px;
    margin: 0 3px;
}

#clock {
    background-color: transparent;
    border-bottom: 3px solid @color1;
    color: @foreground;
}

#battery {
    background: transparent;
    border-bottom: 3px solid @color16;
    color: @foreground
}

#battery.charging {
    background: transparent;
    border-bottom: 3px solid @color1;
    color: @foreground
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: transparent;
    border-bottom: 3px solid @color5;
    color: @foreground;
}

#memory {
    background: transparent;
    border-bottom: 3px solid @color7;
    color: @foreground;
}

#network {
    background: transparent;
    border-bottom: 3px solid @color16;
    color: @foreground
}

#network.disconnected {
    background: transparent;
    color: crimson;
}

#pulseaudio {
    background: transparent;
    border-bottom: 3px solid @color15;
    color: @foreground;
}

#pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
}

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}

#tray {
    background-color: transparent;
    border-bottom: 3px solid @color15;
}

#custom-root {
    background: transparent;
    border-bottom: 4px solid @color9;
}

#custom-temp {
    background: transparent;
    border-bottom: 3px solid @color5;
}

#custom-home {
    background: transparent;
    border-bottom: 4px solid @color9;
}

#custom-main {
    background: transparent;
    border-bottom: 3px solid @color10;
}

#custom-backup {
    background: transparent;
    border-bottom: 3px solid @color10;
}

#custom-scratch {
    background: transparent;
    border-bottom: 3px solid @color11;
}
