/* Based on https://gitlab.com/numenra/dotfiles/raw/9f41e4ea343c1083de06321633e0e2af5c1f65b4/sway/.config/waybar/style.css */
@define-color foreground #f1f1f1;
@define-color background #212121;
@define-color cursor #f1f1f1;

@define-color color0  #212121;
@define-color color1  #c30771;
@define-color color2  #10a778;
@define-color color3  #a89c14;
@define-color color4  #008ec4;
@define-color color5  #523c79;
@define-color color6  #20a5ba;
@define-color color7  #e0e0e0;
@define-color color8  #212121;
@define-color color9  #fb007a;
@define-color color10 #5fd7af;
@define-color color11 #f3e430;
@define-color color12 #20bbfc;
@define-color color13 #6855de;
@define-color color14 #4fb8cc;
@define-color color15 #f1f1f1;

* {
    border: none;
    border-radius: 0;
    font-family: "Manrope", "Ubuntu Condensed", Roboto, Helvetica, Arial, sans-serif;
    font-size: 11pt;
    min-height: 22pt;
    padding-left: 4pt;
    padding-right: 6pt;
}

window#waybar {
    background: transparent;
    color: @foreground;
}

#workspaces button {
    padding: 0;
    background: transparent;
    color: @foreground;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: transparent;
    border-bottom: 3px solid @color15;
}

#mode {
    background: transparent;
    border-bottom: 3px solid @color15;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode, #custom-temp, #custom-root, #custom-home, #custom-backup, #custom-scratch, #custom-main {
    padding: 0 6px;
    margin: 0 3px;
}

#clock {
    background-color: transparent;
    border-bottom: 3px solid @color1;
    color: @foreground;
}

#battery {
    background: transparent;
    border-bottom: 3px solid @color16;
    color: @foreground
}

#battery.charging {
    background: transparent;
    border-bottom: 3px solid @color1;
    color: @foreground
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: transparent;
    border-bottom: 3px solid @color5;
    color: @foreground;
}

#memory {
    background: transparent;
    border-bottom: 3px solid @color7;
    color: @foreground;
}

#network {
    background: transparent;
    border-bottom: 3px solid @color16;
    color: @foreground
}

#network.disconnected {
    background: transparent;
    color: crimson;
}

#pulseaudio {
    background: transparent;
    border-bottom: 3px solid @color15;
    color: @foreground;
}

#pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
}

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}

#tray {
    background-color: transparent;
    border-bottom: 3px solid @color15;
}

#custom-root {
    background: transparent;
    border-bottom: 4px solid @color9;
}

#custom-temp {
    background: transparent;
    border-bottom: 3px solid @color5;
}

#custom-home {
    background: transparent;
    border-bottom: 4px solid @color9;
}

#custom-main {
    background: transparent;
    border-bottom: 3px solid @color10;
}

#custom-backup {
    background: transparent;
    border-bottom: 3px solid @color10;
}

#custom-scratch {
    background: transparent;
    border-bottom: 3px solid @color11;
}
