@define-color bg-dark #191726;
@define-color fg-dark #eae8ff;

* {
    border: none;
    border-radius: 0;
    font-family: sans-serif, "Symbols Nerd Font";
    font-size: 15pt;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @fg-dark;
}

#workspaces {
	background-color: @bg-dark;
	margin: 0.25em;
	margin-left: 0.5em;
	border-radius: 0.25em;
}
#workspaces button {
    padding: 0.25em 0.5em;
    color: #c0caf5;
}

#workspaces button.focused {
    color: @bg-dark;
    background-color: #7aa2f7;
    border-radius: 0.25em;
}

#workspaces button:hover {
	background-color: #7dcfff;
	color: @bg-dark;
	border-radius: 0.25em;
}

#custom-weather,
#custom-date,
#clock,
#battery,
#pulseaudio,
#wireplumber,
#network,
#memory,
#tray {
	background-color: @bg-dark;
	padding: 0.25em 0.5em;
	margin: 0.25em 0;
}

#custom-date {
	color: #7dcfff;
}

#custom-power {
	color: @bg-dark;
	background-color: #db4b4b;
	border-radius: 0.25em;
	margin-right: 0.5em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: 0;
	padding: 0.25em 0.5em;
}

#clock {
    color: #b48ead;
    border-radius: 0 0.25em 0.25em 0;
    margin-right: 0.5em;
}

#battery {
    color: #9ece6a;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: @bg-dark;
    border-radius: 0.25em;
}

#network {
	color: #f7768e;
	border-radius: 0.25em 0px 0px 0.25em;
}

#pulseaudio, #wireplumber {
	color: #e0af68;
}
