[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
Icon=bitwig-studio.png
Name=Bitwig Studio
Comment=Music Application
Exec="/home/j/bin/chroot_bitwig"
Categories=Multimedia;AudioVideo;Player;Recorder
MimeType=application/bitwig-project;application/bitwig-template;application/bitwig-package
StartupWMClass="Bitwig Studio"
