[Desktop Entry]
Name=Steam (chroot)
Exec="/home/j/bin/chroot_steam"
Terminal=false
Type=Application
Icon=steam
StartupWMClass="Steam"
Categories=Game
