[Desktop Entry]
Name=Zoom
Categories=Distrobox;System;Utility
Exec=/home/j/bin/zoom
Icon=/home/j/.local/share/icons/distrobox/arch.png
Keywords=distrobox;
TryExec=/usr/bin/distrobox
Type=Application
